server:
  port: 9003

spring:
  cloud:
    discovery:
      enabled: false

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    consumer:
      group-id: book-service-local-001

logging:
  level:
    org.todaybook.bookservice: DEBUG