server:
  port: 8080

spring:
  application:
    name: book-service

  cloud:
    discovery:
      enabled: true

  datasource:
    url: ${POSTGRESQL_URL}
    username: ${POSTGRESQL_USERNAME}
    password: ${POSTGRESQL_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      max-lifetime: 1700000   # 28~ 29분
      keepalive-time: 60000   # 1분

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    properties:
      # 보안 프로토콜 설정
      security.protocol: SASL_PLAINTEXT
      sasl.mechanism: SCRAM-SHA-256
      # JAAS Config (세미콜론 필수!)
      sasl.jaas.config: >
        org.apache.kafka.common.security.scram.ScramLoginModule required 
        username="${KAFKA_USERNAME}" 
        password="${KAFKA_PASSWORD}";
    consumer:
      max-poll-records: 1000

book:
  register:
    batch-size: 200

eureka:
  instance:
    hostname: ${spring.application.name}
    prefer-ip-address: false
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:9100/eureka/

todaybook:
  security:
    mvc:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
        exclude: env, heapdump,beans,loggers
      base-path: /internal
  endpoint:
    health:
      show-details: never
    prometheus:
      access: read_only
  metrics:
    tags:
      application: ${spring.application.name}
